---
import Layout from "../layouts/Layout.astro";
const seoProps = {
	metadescription: 'Totsawin Jangprasert is a frontend developer',
	title: `Page Not Found`,
	location: Astro.url
};
---

<Layout {...seoProps}>
    <main className="fillHeight">
        <h1>404</h1>
        <h2>Page Not Found</h2>
        <a href="/">Go Home</a>
    </main>
</Layout>

<style lang="scss">
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    h1 {
        color: var(--green);
        font-family: var(--font-mono);
        font-size: clamp(100px, 25vw, 200px);
        line-height: 1;
    }

    h2 {
        font-size: clamp(30px, 5vw, 50px);
        font-weight: 400;
    }

    a {
        color: var(--green);
        background-color: transparent;
        border: 1px solid var(--green);
        border-radius: var(--border-radius);
        padding: 1.25rem 1.75rem;
        font-size: var(--fz-sm);
        font-family: var(--font-mono);
        line-height: 1;
        text-decoration: none;
        cursor: pointer;
        transition: var(--transition);
        &:hover,
        &:focus,
        &:active {
            background-color: var(--green-tint);
            outline: none;
        }
        &:after {
            display: none !important;
        }
        margin-top: 40px;
    }
</style>