---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Totsawin Jangprasert's Portfolio" location={Astro.url}>
	<main class="fillHeight">
		Wind
	</main>
</Layout>

<style>
	main {
		counter-reset: section;
	}
</style>