---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Jobs from "../components/Jobs.astro";
import Featured from "../components/Featured.astro";
import Projects from "../components/Projects.astro";
import Blogs from "../components/Blogs.astro";
import Contact from "../components/Contact.astro";
const seoProps = {
	metadescription: 'Totsawin Jangprasert is a frontend developer',
	title: `Totsawin Jangprasert's Portfolio`,
	location: Astro.url
};
---
<Layout {...seoProps}>
	<main class="fillHeight">
		<Hero />
		<About />
		<Jobs />
		<Featured />
		<!-- <Projects /> -->
		<Blogs />
		<Contact />
	</main>
</Layout>

<style>
	main {
		counter-reset: section;
	}
</style>
<script>

	setTimeout(() => {
		const animations = [...document.querySelectorAll('.scroll-reveal')]

		const options = {
			threshold: 0.25
		}
  
		// create observer
		const callback = entries => {
			entries.forEach(entry => {
				if (entry.isIntersecting) {
					entry.target.classList.add('active')
				}
			})
		}

		const observer = new IntersectionObserver(callback, options);
	
		// observe boxes
		animations.forEach(animation => observer.observe(animation));
	}, 2000);
</script>