---
  import { Picture } from '@astrojs/image/components';
  import me from '../assets/images/me.jpg';
  const skills = [
    "HTML",
    "CSS",
    "JavaScript",
    "TypeScript",
    "AngularJS",
    "Angular",
    "Svelte",
    "React",
    "Vue",
    "Astro",
    "SvelteKit",
    "Remix",
    "Hydrogen",
    "Strapi",
    "Nx"
  ];
---
<section id="about" class="scroll-reveal">
  <h2 class="numbered-heading">About Me</h2>

  <div class="inner">
    <div class="content">
      <div>
        <p>
          I love to see my works become tangible products being used and loved by people. 
          This is what I reflect to my obsession with the frontend development. 
          It is the combination of aesthetics and logics. 
        </p>

        <p>
          I worked for {" "}<a href="https://corporate.exxonmobil.com/">ExxonMobil</a> for 10 years.
          My career started around the beginning of 2010’s where it was also the historical time of 
          the frontend development as its landscape was shifted since the birth of the very first SPA 
          framework, AngularJS. At that time, I was assigned to work on {" "}
          <a href="https://cs-selfserve.exxonmobil.com">Ecommerce website</a>. This experience taught 
          me valuable lessons - code quality and XP practices can help the team maintain the velocity 
          and save team from paying the debts in the future. It was this time that I was firstly recognized 
          as the frontend developer expert when I solved many Production and hard issues. 
        </p>

        <p>
          In 2018, there were multiple projects initiated to capture the new business opportunities. 
          This time I was in both the development teams and the governance team to help shaping the teams 
          to make the consistent judgement and implementation. Angular is the framework of choice because of 
          its opinionated and our expertise. I started as the senior frontend developer in the team. As the 
          experience from the previous project, this time we found the balance between delivering business 
          values and maintaining the highest possible code quality. 
        </p>

        <p>
          In 2020, I was assigned to be the team lead of legacy application. I put effort on Increasing software 
          quality through refactoring and automated tests. Also, I initiated the effort to implement Micro Frontends 
          architectural style in order to decouple new frontend from frontend monolith and expect it would be the 
          foundation of decoupling and rewriting the fronted monoliths into smaller and manageable chunks within its 
          own domain. 
        </p>

        <p>
          In 2021, I was appointed to be the Lead Developer, the highest individual contributor role. In this role, 
          I developed code, mentored people, promoted code quality and technical best practices within and outside 
          the organization, and helped architects evaluating options. I spend free time with side projects to explore
          new web framework capabilities.
        </p>

        <p>
          Now I am relocating to Japan and work as a Frontend Engineer at a fintech company name
          {" "}<a href="https://paypay.ne.jp/">PayPay</a>.
        </p>

        <p>Here are a few technologies I’ve been working with recently:</p>
      </div>

      <ul class="skills-list">
        {skills && skills.map((skill) => <li>{skill}</li>)}
      </ul>
    </div>

    <!-- <div class="picture">
      <div class="wrapper">
        <Picture src={me} widths={[80, 160, 320]} aspectRatio="1:1" sizes="(max-width: 1080px) 70vw, 320px" alt="my photo" />
      </div>
    </div> -->
  </div>
</section>

<style lang="scss">
  section {
    max-width: 900px;
    
    .inner {
      display: block;

      @media (max-width: 1080px) {
        display: block;
      }
    }
  }

  .content {
    column-count: 2;
    column-gap: 36px;
    p {
      text-align: justify;
    }
    @media (max-width: 1080px) {
      column-count: 1;
    }

    ul.skills-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
      grid-gap: 0 10px;
      padding: 0;
      margin: 20px 0 0 0;
      overflow: hidden;
      list-style: none;

      li {
        position: relative;
        margin-bottom: 10px;
        padding-left: 20px;
        font-family: var(--font-mono);
        font-size: var(--fz-xs);

        &:before {
          content: "▹";
          position: absolute;
          left: 0;
          color: var(--green);
          font-size: var(--fz-sm);
          line-height: 12px;
        }
      }
    }
  }

  .picture {
    position: relative;
    max-width: 300px;

    @media (max-width: 1080px) {
      margin: 50px auto 0;
      width: 70%;
    }

    .wrapper {
      box-shadow: 0 10px 30px -15px var(--navy-shadow);
      transition: var(--transition);

      &:hover,
      &:focus {
        box-shadow: 0 20px 30px -15px var(--navy-shadow);
      }
      display: block;
      position: relative;
      width: 100%;
      border-radius: var(--border-radius);
      background-color: var(--green);

      &:hover,
      &:focus {
        outline: 0;

        &:after {
          top: 15px;
          left: 15px;
        }

        :global(img) {
          filter: none;
          mix-blend-mode: normal;
        }
      }

      :global(img) {
        position: relative;
        border-radius: var(--border-radius);
        mix-blend-mode: multiply;
        filter: grayscale(100%) contrast(1);
        transition: var(--transition);
        height: 100%;
      }

      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius);
        transition: var(--transition);
      }

      &:before {
        top: 0;
        left: 0;
        background-color: var(--navy);
        mix-blend-mode: screen;
      }

      &:after {
        border: 2px solid var(--green);
        top: 20px;
        left: 20px;
        z-index: -1;
      }
    }
  }
</style>