---
  const skills = [
    "JavaScript (ES6+)",
    "TypeScript",
    "React",
    "Eleventy",
    "Node.js",
    "WordPress",
  ];
---
<section id="about" class="scroll-reveal">
  <h2 class="numbered-heading">About Me</h2>

  <div class="inner">
    <div class="content">
      <div>
        <p>
          Hello! My name is Brittany and I enjoy creating things that live on
          the internet. My interest in web development started back in 2012 when
          I decided to try editing custom Tumblr themes — turns out hacking
          together a custom reblog button taught me a lot about HTML &amp; CSS!
        </p>

        <p>
          Fast-forward to today, and I’ve had the privilege of working at{" "}
          <a href="https://us.mullenlowe.com/">an advertising agency</a>,{" "}
          <a href="https://starry.com/">a start-up</a>,{" "}
          <a href="https://www.apple.com/">a huge corporation</a>, and{" "}
          <a href="https://scout.camd.northeastern.edu/"
            >a student-led design studio</a
          >. My main focus these days is building accessible, inclusive products
          and digital experiences at
          <a href="https://upstatement.com/">Upstatement</a> for a variety of clients.
        </p>

        <p>
          I also recently{" "}
          <a
            href="https://www.newline.co/courses/build-a-spotify-connected-app"
          >
            launched a course
          </a>{" "}
          that covers everything you need to build a web app with the Spotify API
          using Node &amp; React.
        </p>

        <p>Here are a few technologies I’ve been working with recently:</p>
      </div>

      <ul class="skills-list">
        {skills && skills.map((skill) => <li>{skill}</li>)}
      </ul>
    </div>

    <div class="picture">
      <div class="wrapper">
        <picture>
          <source srcset="/images/me.jpg" media="(min-width: 800px)" />
          <img src="/images/me.jpg" alt="Headshot" />
        </picture>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @keyframes reveal {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  section {
    max-width: 900px;

    .inner {
      display: grid;
      grid-template-columns: 3fr 2fr;
      grid-gap: 50px;

      @media (max-width: 768px) {
        display: block;
      }
    }

    @media (prefers-reduced-motion: no-preference) {
      :global(.active) {
        animation: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
      }
    }
  }

  .content {
    ul.skills-list {
      display: grid;
      grid-template-columns: repeat(2, minmax(140px, 200px));
      grid-gap: 0 10px;
      padding: 0;
      margin: 20px 0 0 0;
      overflow: hidden;
      list-style: none;

      li {
        position: relative;
        margin-bottom: 10px;
        padding-left: 20px;
        font-family: var(--font-mono);
        font-size: var(--fz-xs);

        &:before {
          content: "▹";
          position: absolute;
          left: 0;
          color: var(--green);
          font-size: var(--fz-sm);
          line-height: 12px;
        }
      }
    }
  }

  .picture {
    position: relative;
    max-width: 300px;

    @media (max-width: 768px) {
      margin: 50px auto 0;
      width: 70%;
    }

    .wrapper {
      box-shadow: 0 10px 30px -15px var(--navy-shadow);
      transition: var(--transition);

      &:hover,
      &:focus {
        box-shadow: 0 20px 30px -15px var(--navy-shadow);
      }
      display: block;
      position: relative;
      width: 100%;
      border-radius: var(--border-radius);
      background-color: var(--green);

      &:hover,
      &:focus {
        outline: 0;

        &:after {
          top: 15px;
          left: 15px;
        }

        img {
          filter: none;
          mix-blend-mode: normal;
        }
      }

      img {
        position: relative;
        border-radius: var(--border-radius);
        mix-blend-mode: multiply;
        filter: grayscale(100%) contrast(1);
        transition: var(--transition);
      }

      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius);
        transition: var(--transition);
      }

      &:before {
        top: 0;
        left: 0;
        background-color: var(--navy);
        mix-blend-mode: screen;
      }

      &:after {
        border: 2px solid var(--green);
        top: 20px;
        left: 20px;
        z-index: -1;
      }
    }
  }
</style>
