---
  const one = `<h1>Hi, my name is</h1>`;
  const two = `<h2 class="big-heading">Totsawin Jangprasert</h2>`;
  const three = `<h3 class="big-heading">Code, Mentor, Promote best practices.</h3>`;
  const four = `<p>
        I’m previously a lead developer at 
        <a href="https://corporate.exxonmobil.com/" target="_blank" rel="noreferrer">ExxonMobil</a>.
        Currently, I am relocating to Japan and work as a Frontend Engineer at a fintech company name
        <a href="https://paypay.ne.jp/" target="_blank" rel="noreferrer">
          PayPay
        </a>.
      </p>`;
  const five = `<a
      class="email-link"
      href="https://totsawin-jangprasert.medium.com"
      target="_blank"
      rel="noreferrer">
      Check out my blogs!
    </a>`;

  const items = [one, two, three, four, five];
---

<section id="hero">
  { items && items.map((item, i) => (
      <div set:html={item} style={{ '--transition-delay': `${i + 1}00ms` }}></div>
  ))}
</section> 

<style lang="scss">
  @keyframes fade-up {
    from {
      opacity: 0.01;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    padding: 0;

    @media (max-width: 480px) and (min-height: 700px) {
      padding-bottom: 10vh;
    }

    div {
      @media (prefers-reduced-motion: no-preference) {
        animation: fade-up 300ms var(--easing);
        animation-delay: calc(3000ms + var(--transition-delay));
        animation-fill-mode: backwards;
      }
    }

    :global(h1) {
      margin: 0 0 30px 4px;
      color: var(--green);
      font-family: var(--font-mono);
      font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
      font-weight: 400;

      @media (max-width: 480px) {
        margin: 0 0 20px 2px;
      }
    }

    :global(h3) {
      margin-top: 10px;
      color: var(--slate);
      line-height: 0.9;
    }

    :global(p) {
      margin: 20px 0 0;
      max-width: 540px;
    }

    :global(.email-link) {
      color: var(--green);
      background-color: transparent;
      border: 1px solid var(--green);
      border-radius: var(--border-radius);
      padding: 1.25rem 1.75rem;
      font-size: var(--fz-sm);
      font-family: var(--font-mono);
      line-height: 1;
      text-decoration: none;
      cursor: pointer;
      transition: var(--transition);
      &:hover,
      &:focus,
      &:active {
        background-color: var(--green-tint);
        outline: none;
      }
      &:after {
        display: none !important;
      }
      margin-top: 50px;
    }
  }
</style>
