---
import "../styles/global.scss";
import Head from "../components/Head.astro";
import Footer from "../components/Footer.astro";
import Social from "../components/Social.astro";
import Email from "../components/Email.astro";
import Nav from "../components/Nav.astro";
---

<!DOCTYPE html>
<html lang="en">
  <Head title="Totsawin Jangprasert's Portfolio" />
  <body>
    <div class="content">
      <Nav isHome=true />
      <Social isHome=true />
      <Email isHome=true />
      <div id="content">
        <slot />
        <Footer />
      </div>
    </div>
  </body>
</html>


<style>
  .content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
</style>