---
import "../styles/global.scss";
import Head from "../components/Head.astro";
import Content from "../components/Content.svelte";
import Social from "../components/Social.astro";
import Email from "../components/Email.astro";
import Nav from "../components/Nav.svelte";
import Footer from "../components/Footer.astro";
import Loader from "../components/Loader.astro";
const seoProps = Astro.props;
const isHome = Astro.url.pathname === '/';
---

<!DOCTYPE html>
<html lang="en">
  <Head {...seoProps} />
  <body>
    <Loader />
    <div class="wrapper">

      <Nav isHome={isHome} client:load/>
      <Social isHome={isHome} />
      <Email isHome={isHome} />

      <Content client:load>
        <slot />
        <Footer />
      </Content>
    </div>
  </body>
</html>
<style>
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
</style>